Project0/force-app/main/default/flows/Contact_and_Account_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Choice_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decide_Create_Account</name>
        <label>Decide Create Account</label>
        <locationX>421</locationX>
        <locationY>159</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_wish_to_create_an_account_for_this_contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account1</targetReference>
            </connector>
            <label>Create Account</label>
        </rules>
        <rules>
            <name>Don_t_Create_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_wish_to_create_an_account_for_this_contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_Without_Account</targetReference>
            </connector>
            <label>Don&#39;t Create Account</label>
        </rules>
    </decisions>
    <description>Walks a user through the creation of a contact while providing guidance and allow the users to optionally create a related account.</description>
    <interviewLabel>Contact and Account Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Contact with Optional Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account1</name>
        <label>Create Account</label>
        <locationX>623</locationX>
        <locationY>67</locationY>
        <assignRecordIdToReference>Created_Account.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!First_Name} {!Last_Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Contact_Phone.value</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact With Account</label>
        <locationX>781</locationX>
        <locationY>67</locationY>
        <assignRecordIdToReference>Created_Contact.Id</assignRecordIdToReference>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Created_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Contact_Phone.value</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Without_Account</name>
        <label>Create Contact Without Account</label>
        <locationX>428</locationX>
        <locationY>336</locationY>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Contact_Phone.value</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <screens>
        <name>Ask_About_Account</name>
        <label>Ask About Account</label>
        <locationX>285</locationX>
        <locationY>63</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decide_Create_Account</targetReference>
        </connector>
        <fields>
            <name>Do_you_wish_to_create_an_account_for_this_contact</name>
            <choiceReferences>Choice_Yes</choiceReferences>
            <choiceReferences>Choice_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you wish to create an account for this contact?</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Create a Contact</description>
        <name>Get_Contact_Name</name>
        <label>Get Contact Name</label>
        <locationX>180</locationX>
        <locationY>150</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Ask_About_Account</targetReference>
        </connector>
        <fields>
            <name>Instructions</name>
            <fieldText>&lt;p&gt;Add the contact&#39;s information.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Contact_Name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Created_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Created_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
